* {
    margin: 0;
    padding: 0;
    border-width: 0;
}

body {
	background-color: #202020;
	position: relative;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: "Roboto", sans-serif;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("img/coffee-4618212_1920.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	filter: blur(20px);
	opacity: 0.3;
	z-index: -1;
}

header {
	position: relative;
	background-color: #dbd492;
	color: rgb(255, 255, 255);
	max-width: 100%;
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 1vw 0 1vw; 
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
		text-align: center;
		gap: 3vw;
	}
	
	ul {
		justify-content: center;
	}
}

h1 {
	padding: 0 0.5vw 0.7vw 0.5vw;
	font-size: 2.4em;
	font-family: "Kaushan Script", cursive;
	filter: drop-shadow(2px 4px 6px black);
	margin: 0;
}

h2 {
	font-family: "Kaushan Script", cursive;
	font-size: 2em;
	filter: drop-shadow(2px 2px 2px #000000);
	padding: 0.3vw;
	text-align: center;
}

ul {
	list-style-type: none;
	background-color: transparent;
	padding: 0;
	display: flex;
	gap: 4vw;
	font-size: 1.2em;
	margin: 10pt;
	font-weight: bold;
	filter: drop-shadow(2px 2px 2px #928d6b);
}

hr {
	border: 0;
	height: 1px;
	width: 60%;
	background: linear-gradient(to right, #cccccc00, #dbd492, #cccccc00);
	margin: auto auto 15px auto;
}

main {
	clear: both;
	padding: 1vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	gap: 2vw;
}

main img {
	width: 100%;
	height: 25em;
	border-radius: 25px;
	clip-path: square(50%);
	object-fit: cover;
}


#Box1, #Box2, #Box3 {
	background-color: rgba(219, 212, 146, 0.5);
	border-radius: 25px;
	width: auto;
	max-width: 25em;
	flex: 0 1 auto;
	padding: 1vw;
	margin: 0.5em;
	backdrop-filter: blur(10px);
}

p {
	margin: 10px;
	text-align: justify;
}

footer {
	background-color: #202020;
	color: white;
	text-align: center;
	max-width: 100%;
	margin: 0px;
	padding: 1vw;
	font-size: 1vw;
}